<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                http://www.springframework.org/schema/data/jpa
                http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <jpa:repositories base-package="com.querer.libra.app"
                      base-class="com.querer.libra.platform.core.dal.repository.impl.LibraRepositoryImpl"/>

    <!-- Data Source -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.connection.driver_class}"/>
        <property name="url" value="${jdbc.connection.url}"/>
        <property name="username" value="${jdbc.connection.username}"/>
        <property name="password" value="${jdbc.connection.password}"/>
    </bean>
    <!-- Data Source -->
    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">-->
        <!--<property name="driverClass" value="${jdbc.connection.driver_class}"/>-->
        <!--<property name="jdbcUrl" value="${jdbc.connection.url}"/>-->
        <!--<property name="user" value="${jdbc.connection.username}"/>-->
        <!--<property name="password" value="${jdbc.connection.password}"/>-->
        <!--&lt;!&ndash; connection pool setting &ndash;&gt;-->
        <!--<property name="minPoolSize" value="${c3p0.min.pool.size}"/>-->
        <!--<property name="maxPoolSize" value="${c3p0.max.pool.size}"/>-->
        <!--<property name="initialPoolSize" value="${c3p0.initial.pool.size}"/>-->
        <!--<property name="idleConnectionTestPeriod" value="${c3p0.idle.connection.test}"/>-->
        <!--<property name="maxIdleTime" value="${c3p0.max.idle.time}"/>-->
        <!--<property name="checkoutTimeout" value="${c3p0.checkout.timeout}"/>-->
        <!--<property name="acquireIncrement" value="${c3p0.acquire.increment}"/>-->
        <!--<property name="numHelperThreads" value="${c3p0.num.helper.threads}"/>-->
        <!--<property name="preferredTestQuery" value="${c3p0.preferred.test.query}"/>-->
        <!--<property name="maxStatementsPerConnection" value="${c3p0.max.statements.per.connection}"/>-->
    <!--</bean>-->

    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="false"/>
        <property name="generateDdl" value="true"/>
        <property name="database" value="MYSQL"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitName" value="jpaEntityManagerFactory" />
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        <!-- spring based scanning for entity classes>-->
        <property name="packagesToScan">
            <list>
                <value>com.querer.libra.platform.core.domain.entity</value>
                <value>com.querer.libra.app.event.domain.entity</value>

            </list>
        </property>
        <property name="jpaProperties">
            <props>
                <!--  Hibernate Configuration Properties -->
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>

                <!-- Hibernate JDBC and Connection Properties -->
                <prop key="hibernate.default_batch_fetch_size">${hibernate.default_batch_fetch_size}</prop>
                <prop key="hibernate.max_fetch_depth">${hibernate.max_fetch_depth}</prop>
                <prop key="hibernate.connection.useUnicode">${hibernate.connection.useUnicode}</prop>
                <prop key="hibernate.connection.characterEncoding">${hibernate.connection.characterEncoding}</prop>
                <prop key="hibernate.connection.charSet">${hibernate.connection.charSet}</prop>

                <!-- Hibernate Cache Properties -->
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
                <prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
                <prop key="hibernate.cache.use_structured_entries">${hibernate.cache.use_structured_entries}</prop>

                <!-- Hibernate Transaction Properties -->

                <!-- Hibernate Miscellaneous Properties -->
                <prop key="javax.persistence.validation.mode">${javax.persistence.validation.mode}</prop>

                <prop key="hibernate.hbm2ddl.auto">none</prop>
                <!-- for UT ONLY -->
                <!--<prop key="hibernate.hbm2ddl.auto">create</prop>-->
                <!--<prop key="hibernate.hbm2ddl.import_files">-->
                <!--spring/dal/import.sql-->
                <!--</prop>-->
            </props>
        </property>
    </bean>

    <!--<bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>-->

</beans>
